[push]
	default = simple
[color]
	ui = true
[core]
	editor = LANG=en_US.utf8 emacs -nw
[alias]
	log2 = log --graph --pretty=oneline --decorate
	co = checkout
[help]
	autocorrect = 1
[diff]
	compactionHeuristic = true
